@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-merriweather: 'Merriweather', serif;
  --border-color: #D9D9D9;
  --text-color: #333333;
  --primary-color: #287F71;
  --light-gray: #C0C0C0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-merriweather);
}
